<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/index.css">
  <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="./js/index.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="shortcut icon" type="image/png" href="./images/logo.png"/>
  <title>TeleGuard</title>
</head>
<body>
  <div class="d-flex align-items-center" style="height:90%;">
    <div class="container">
      <h1 class="text-center mb-3 custom-header"><img src="./images/logo.png" alt="" height="35px" width="35px" class="mb-2 mr-1"><span style="color: #E74C3C;">Tele</span><em>Guard</em></h1>
      <!-- <div class="form-group mb-4">
        <input id="inputProxyNumber" type="text" placeholder="Enter your proxy number" class="form-control custom-input">
      </div> -->
      <div class="text-center">
        <button id="btnSignUp" class="custom-button-3 mr-2">Sign Up</button>
        <button id="btnFindNumber" class="custom-button">Log In</button>
      </div>
    </div>
  </div>
</body>
</html>